<form action="/robots/<%= @robot.id %>" method="POST">
  <input type='hidden' name='_method' value="PUT">

  <div class="form-group">
    <label for='robot[name]'>Name</label>
    <input type='text' class='form-control' value=<%= @robot.name %> name='robot[name]'>
  </div>
  <div class="form-group">
    <label for='robot[city]'>City</label>
    <input type='text' class='form-control' value=<%= @robot.city %> name='robot[city]'>
  </div>
  <div class="form-group">
    <label for='robot[state]'>State</label>
    <input type='text' class='form-control' value=<%= @robot.state %> name='robot[state]'>
  </div>
  <div class="form-group">
    <label for='robot[birthdate]'>Birthdate</label>
    <input type='date' class='form-control' value=<%= @robot.birthdate %> name='robot[birthdate]'>
  </div>
  <div class="form-group">
    <label for='robot[date_hired]'>Date Hired</label>
    <input type='date' class='form-control' value=<%= @robot.date_hired %> name='robot[date_hired]'>
  </div>
  <div class="form-group">
    <label for='robot[department]'>Department</label>
    <input type='text' class='form-control' value=<%= @robot.department %> name='robot[department]'>
  </div>
  <input class="btn btn-primary" value='submit' type='submit'>
</form>
