<form action="/robots/<%= @robot.id %>" method="POST">
  <input type='hidden' name='_method' value="PUT">
  <p>What would you like to change?</p>
  <p>Name:</p>
  <input type='text' name='robot[name]' value=<%= @robot.name %>><br>
  <p>City:</p>
  <input type='text' name='robot[city]' value=<%= @robot.city %>><br>
  <p>State:</p>
  <input type='text' name='robot[state]' value=<%= @robot.state %>><br>
  <p>Birthdate:</p>
  <input type='text' name='robot[birthdate]' value=<%= @robot.birthdate %>><br>
  <p>Date Hired:</p>
  <input type='text' name='robot[date_hired]' value=<%= @robot.date_hired %>><br>
  <p>Department</p>
  <input type='text' name='robot[department]' value=<%= @robot.department %>>
  <input value='submit' type='submit'>
</form>
